<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<style>
    .data{
        display: none;
    }
</style>
<body>
    <% if(errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    
    <% if(successMessage) { %>
      <div class="user-message user-message--success"><%= successMessage %></div>
    <% } %>

    <form method="post" action="/profile/change/password/verify">
        <div class="mb-3">
            <input value= '<%= user.newpassword %>' class="data" name="password">
            <input value='<%= user.uid %>' class="data" name="uid">
            <input value= '<%=user.otp %>' class="data" name="otp">
          <label for="exampleFormControlTextarea1" class="form-label">Enter the six-digit code sent to your email</label>
          <input name="submittedotp" style="width: 6em;" name="content" class="form-control" id="exampleFormControlTextarea1"></input>
        </div>
        <div>
          <button type="submit" btn btn-primary>Submit</button>
        </div>
    </form>

    <!-- email:req.body.email,
    password:hashedpassword,
    name:req.body.firstname+' '+req.body.lastname,
    uid:randomuid -->

</body>
</html>